# uv lock file
uv.lock

# Virtual environment directory
.venv/
venv/
env/

# Python compiled files
*.pyc
__pycache__/

# Editor/IDE specific files
.vscode/
.idea/

# environment variable files
.env
.env.*.local